<section id="wrapper" class="login-register"
    style="background-image:url(../assets/images/background/login-register.jpg); background-size:cover;">
    <h1 class="text-center pb-5">CLÍNICA ONLINE SNA</h1>

    <div class="login-box card border animate__animated animate__backInRight">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <h3 class="box-title m-t-40 m-b-0">Iniciar sesión</h3>

                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" placeholder="Correo electrónico"
                            formControlName="email">
                    </div>
                    <small *ngIf="invalidEmail" class="text-danger">El correo electrónico es incorrecto</small>
                </div>
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">
                    </div>
                </div>
                <small *ngIf="invalidPassword" class="text-danger">Contraseña inválida</small>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                            type="submit">Ingresar</button>
                    </div>
                </div>

                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        ¿No tine cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Regístrese aquí</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- 
    <div class="login-box card border animate__animated animate__backInRight mt-2">
        <div class="card-body">
            <div class="row">
                <div class="form-group text-center m-t-20 col">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button"
                            (click)="setAdmin()">Admin</button>
                    </div>
                </div>
                <div class="form-group text-center m-t-20 col">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button"
                        (click)="setPaciente()">Paciente</button>
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="button"
                        (click)="setProfesional()">Profesional</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Default dropup button -->
    <div class="btn-group special">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Iniciar como ...
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" type="button" (click)="setPaciente()">Paciente</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" type="button" (click)="setProfesional()">Profesional</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" type="button" (click)="setAdmin()">Admin</a>
        </div>
    </div>
</section>