<div class="row animated fadeInRight fast doblete" *ngIf="listado.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Turnos Asignados</h4>
                <button class="btn btn-primary" (click)="generarPdf('table-turnos')">Descargar PDF</button>
                <div class="table-responsive" id="table-turnos">
                    <table class="table my-tbody">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                                <th>Día</th>
                                <th>Hora</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listado">
                                <td> {{ item.user.name }} </td>
                                <td> {{ item.especialidad }} </td>
                                <td> {{ item.dia }} </td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ item.hora }} </span> </td>
                                <td>
                                    <div class="label label-table label-success" *ngIf="item.estado === 'FINALIZADO'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-danger" *ngIf="item.estado === 'RECHAZADO'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-primary" *ngIf="item.estado === 'ACEPTADO'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-warning" *ngIf="item.estado === 'PENDIENTE'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-danger" *ngIf="item.estado === 'CANCELADO'">
                                        {{ item.estado }} </div>
                                </td>
                                <td>
                                    <i class="fa fa-check text-success iconos mr-5" (click)="aceptarTurno(item)"
                                        data-toggle="tooltip" data-placement="top" title="Aceptar Turno"
                                        *ngIf="item.estado == 'PENDIENTE'"> Aceptar</i>
                                    <i class="fa fa-close text-danger iconos" (click)="rechazarTurno(item)"
                                        data-toggle="tooltip" data-placement="top" title="Rechazar Turno"
                                        *ngIf="item.estado == 'PENDIENTE'"> Rechazar</i>
                                    <i class="fa fa-check text-success iconos mr-5" (click)="atenderPaciente(item)"
                                        data-toggle="tooltip" data-placement="top" title="Aceptar Turno"
                                        *ngIf="item.estado == 'ACEPTADO'" data-toggle="modal"
                                        data-target="#exampleModal3"> Atender</i>
                                    <i class="fa fa-close text-danger iconos" (click)="cancelarTurno(item)"
                                        data-toggle="tooltip" data-placement="top" title="Aceptar Turno"
                                        *ngIf="item.estado == 'ACEPTADO'"> Cancelar</i>
                                    <i class="fa fa-edit text-info iconos mr-5" data-toggle="tooltip"
                                        data-placement="top" title="Reseña" *ngIf="item.estado == 'FINALIZADO'"
                                        (click)="seleccionarTurno(item)" data-toggle="modal"
                                        data-target="#exampleModal"> Reseña</i>
                                    <i class="fa text-primary iconos" data-toggle="tooltip" data-placement="top"
                                        title="Comentarios" *ngIf="item.estado == 'FINALIZADO'"
                                        (click)="seleccionarTurno(item)" data-toggle="modal"
                                        data-target="#exampleModal2"> Comentarios</i>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast doblete" *ngIf="isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info text-center">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p></p>
                    <p class="mb-0">Por favor espere</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeInRight fast" *ngIf="listadoPendientes.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Turnos Pendientes</h4>
                <button class="btn btn-success" (click)="generarExel('table-turnos-pendientes')">Descargar Exel</button>
                <div class="table-responsive" id="table-turnos-pendientes">
                    <table class="table my-tbody">
                        <thead>
                            <tr>
                                <th>Día</th>
                                <th>Hora</th>
                                <th>Especialidad</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody class="tbody2">
                            <tr *ngFor="let item of listadoPendientes">
                                <td> {{ item.dia }} </td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ item.hora }} </span> </td>
                                <td> {{ item.especialidad }} </td>
                                <td>
                                    <i class="fa fa-close text-danger iconos" (click)="cancelarTurnoPendiente(item)"
                                        data-toggle="tooltip" data-placement="top" title="Cancelar Turno"> Cancelar</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="isLoading2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info text-center">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p></p>
                    <p class="mb-0">Por favor espere</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deje un breve reseña sobre la atención a
                    {{ turnoSeleccionado?.user.name }} </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" [formGroup]="reseniaForm"
                        (ngSubmit)="dejarResenia()">

                        <div class="form-group">
                            <textarea cols="30" rows="5" class="form-control" formControlName="text"></textarea>
                        </div>
                        <small *ngIf="invalidText" class="text-danger">Dede escribir algo</small>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">Agregar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                    Comentarios </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4>Su reseña a {{ turnoSeleccionado?.user.name }} </h4>
                    <p> {{ turnoSeleccionado?.resenia }} </p>

                    <hr>
                    <p> {{ turnoSeleccionado?.user.name }} respondió: </p>
                    <small> {{ turnoSeleccionado?.comentario }} </small>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel2">
                    Historia Clínica</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="historiaForm" (ngSubmit)="guardarHistoria()">
                        <div class="form-body">
                            <h3 class="box-title">Atender Paciente</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label [class.text-danger]="invalidAge">Edad</label>
                                        <input type="number" class="form-control" formControlName="age">
                                        <small *ngIf="invalidAge" class="text-danger">La edad es incorrecta</small>
                                    </div>

                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label [class.text-danger]="invalidTemp">Temperatura</label>
                                        <input type="number" class="form-control" formControlName="temp">
                                        <small *ngIf="invalidTemp" class="text-danger">La Temperatura es
                                            incorrecta</small>

                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label [class.text-danger]="invalidPresion">Presión arterial</label>
                                        <input type="text" class="form-control" formControlName="presion">
                                        <small *ngIf="invalidPresion" class="text-danger">La Presión es
                                            incorrecta</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label [class.text-danger]="invalidPeso">Peso</label>
                                        <input type="number" class="form-control" formControlName="peso">
                                        <small *ngIf="invalidPeso" class="text-danger">El perso es incorrecto</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h3 class="box-title">Otros datos</h3>
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Propiedad" formControlName="clave1">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Valor" formControlName="valor1">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Propiedad" formControlName="clave2">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Valor" formControlName="valor2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Propiedad" formControlName="clave3">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Valor" formControlName="valor3">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-success mr-2"> <i class="fa fa-check"></i>
                                Save</button>
                            <button type="button" class="btn btn-inverse" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>