<div class="row animated fadeInRight fast" *ngIf="listado.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de Turnos</h4>
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                                <th>Día</th>
                                <th>Hora</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listado">
                                <td> {{ item.user.name }} </td>
                                <td> {{ item.especialidad }} </td>
                                <td> {{ item.dia }} </td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ item.hora }} </span> </td>
                                <td>
                                    <div class="label label-table label-success" *ngIf="item.estado === 'FINALIZADO'"> {{ item.estado }} </div>
                                    <div class="label label-table label-danger" *ngIf="item.estado === 'RECHAZADO'"> {{ item.estado }} </div>
                                    <div class="label label-table label-primary" *ngIf="item.estado === 'ACEPTADO'"> {{ item.estado }} </div>
                                    <div class="label label-table label-warning" *ngIf="item.estado === 'PENDIENTE'"> {{ item.estado }} </div>
                                    <div class="label label-table label-danger" *ngIf="item.estado === 'CANCELADO'"> {{ item.estado }} </div>
                                </td>
                                <td>
                                    <i  class="fa fa-close text-danger fa-2x mr-3 iconos" 
                                        (click)="rechazarTurno(item)"
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Rechazar Turno"
                                        *ngIf="item.estado == 'PENDIENTE'"></i>
                                    <i  class="fa fa-check text-success fa-2x iconos" 
                                        (click)="aceptarTurno(item)" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Aceptar Turno"
                                        *ngIf="item.estado == 'PENDIENTE'"></i>
                                    <i  class="fa fa-close text-danger iconos mr-5" 
                                        (click)="cancelarTurno(item)" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Aceptar Turno"
                                        *ngIf="item.estado == 'ACEPTADO'"> Cancelar</i>
                                    <i  class="fa fa-check text-success iconos" 
                                        (click)="aceptarTurno(item)" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Aceptar Turno"
                                        *ngIf="item.estado == 'ACEPTADO'"> Atender</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info text-center">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p></p>
                    <p class="mb-0">Por favor espere</p>
                </div>
            </div>
        </div>
    </div>
</div>
