<div class="row animated fadeIn fast" *ngIf="isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info text-center">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p></p>
                    <p class="mb-0">Por favor espere</p>
                </div>
            </div>
        </div>
    </div>
</div>

<h3 class="card-title mb-5">Profesionales Registrados ( {{ listado.length }} )</h3>

<div class="row animated fadeIn fast" *ngIf="!isLoading">
    <div class="col-md-6 col-lg-6 col-xlg-4" *ngFor="let item of listado">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-lg-3 text-center">
                    <a>
                        <img *ngIf="item.img1" [src]="item.img1" alt="" class="img-circle img-responsive">
                        <img *ngIf="!item.img1" src="../../../assets/images/default.jpg" alt=""
                            class="img-circle img-responsive">
                    </a>
                </div>
                <div class="col-md-8 col-lg-9">
                    <h3 class="box-title m-b-0">{{ item.name }} </h3> <small>{{ item.role }}</small>
                    <br>
                    <p> {{ item?.especialidades}} </p>
                    <address>
                        {{ item.email }}
                        <br>
                        <br>
                    </address>
                </div>
                <div class="col-md-8 col-lg-9 text-center">
                    <span class="label label-success" *ngIf="!item.emailVerified" (click)="activar(item)">Activar</span>
                    <span class="label label-danger" *ngIf="item.emailVerified"
                        (click)="desactivar(item)">Desactivar</span>
                </div>
                <div class="col-md-8 col-lg-9 text-center">
                    <span class="label label-success" *ngIf="item.especialidades.length < 3"
                        (click)="seleccionarProfesional(item)" data-toggle="modal" data-target="#exampleModal">Agregar
                        Especialidad</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Especialidades</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal form-material" id="loginform" [formGroup]="especialidadForm"
                    (ngSubmit)="agregarEspecialidad()">
                    
                        <p class="form-group">Seleccione la especialidad que desea agregar</p>
                        <div class="form-group">
                            <label [class.text-danger]="invalidEspecialidad">Especialidad</label>

                            <select class="form-control" formControlName="especialidad">
                                <option value="CLINICO"> CLÍNICO </option>
                                <option value="ODONTOLOGO"> ODONTÓLOGO </option>
                                <option value="PEDIATRA"> PEDIATRA </option>
                                <option value="OFTALMOLOGO"> OFTALMÓLOGO </option>
                            </select>
                        </div>


                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">Agregar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>