<!-- <div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input type="text" class="form-control" placeholder="Buscar usuarios">
            </div>
        </div>
    </div>
</div> -->

<div class="row animated fadeIn fast" *ngIf="isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info text-center">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p></p>
                    <p class="mb-0">Por favor espere</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios registrados ( {{ listado.length }} )</h4>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Correo</th>
                                <th>Nombre</th>
                                <th>Rol</th>
                                <th class="text-nowrap">Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listado">
                                <td>
                                    <img *ngIf="item.img1" [src]="item.img1" alt="" width="100" height="100">
                                    <img *ngIf="!item.img1" src="../../../assets/images/default.jpg" alt="" width="100"
                                        height="100">
                                </td>
                                <td> {{ item.email }} </td>
                                <td> {{ item.name }} </td>
                                <td> {{ item.role }} </td>
                                <td>
                                    <span *ngIf="item.emailVerified" class="label label-success">Activo</span>
                                    <button class="btn btn-danger btn-sm" *ngIf="!item.emailVerified"(click)="activar()" >Activar</button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>