<div class="row p-5">
    <div class="col-md-6 mx-auto">
        <div class="card" *ngIf="user$ | async as user; else loading">
            <div class="card-body">
                <h3 class="card-item text-center"> Gracias por registrarte en</h3>
                <h3 class="card-item text-center"> <strong>CLÍNICA ONLINE</strong></h3>
                <div class="form-group">
                    <p class="text-center mt-5">
                        Hemos enviado un correo de verificación a <strong> {{ user?.email }} </strong>
                    </p>
                    <p class="text-center">
                        Por favor verifica tu casilla.
                    </p>
                </div>
                <div class="form-group text-center mt-5">
                    <button class="btn btn-primary" (click)="onSendEmail()">Reenviar correo de verificación</button>
                </div>
                <div class="form-group mt-3 row justify-content-around">
                    <p> <a routerLink="login" (click)="iniciarSesion()"> Iniciar Sesión</a></p>
                 </div>
            </div>
        </div>
        <ng-template #loading>
            <div class="d-flex justify-content-center mt-5">
                <div class="spinner-grow text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ng-template>
    </div>
</div>