<div class="row p-5">
    <div class="col-md-4 mx-auto">
        <div class="card animate__animated animate__backInDown">
            <div class="card-body">
                <h3 class="card-title text-center"> Por favor, ingrese su correo electrónico</h3>
                <form [formGroup]="forma" class="mt-5" (ngSubmit)="onReset()">
                    <div class="form-group">
                        <label for="email" [class.text-danger]="invalidEmail">Correo electrónico</label>
                        <input type="email" class="form-control" formControlName="email">
                        <small *ngIf="invalidEmail" class="text-danger">El formato debe ser: nombre@dominio.algo</small>
                    </div>
                    <div class="form-group text-center">
                        <button class="btn btn-lg btn-primary" type="submit">Restaurar Contraseña</button>
                    </div>
                </form>
                <div class="form-group mt-3 row justify-content-around">
                    <p> <a routerLink='/login'> Volver </a></p>
                </div>
            </div>
        </div>
    </div>
</div>

