<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h3 class="card-item text-center"> Gracias por registrarte en <strong>CLÍNICA ONLINE</strong></h3>
                <div class="form-group">
                    <p class="text-center">
                        Hemos enviado un correo de verificación a <strong> </strong>
                    </p>
                    <p class="text-center">
                        Por favor vefica tu casilla.
                    </p>
                </div>
                <div class="form-group text-center mt-3">
                    <button class="btn btn-primary" (click)="onSendEmail()">Reenviar correo de verificación</button>
                </div>
            </div>
        </div>

        <ng-template #loading>
            Loading...
        </ng-template>
        
    </div>
</div>