<div class="row animated fadeIn fast">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Crear nuevo usuario Administrador</h4>
                <h6 class="card-subtitle"></h6>
                <form class="form p-t-20" [formGroup]="usuarioForm" (ngSubmit)="crearUsuario()">

                    <div class="form-group">
                        <label for="exampleInputEmail1" [class.text-danger]="invalidName">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Nombre" formControlName="name">
                        </div>
                        <small *ngIf="invalidName" class="text-danger">El nombre es requerido</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" [class.text-danger]="invalidEmail">Correo electrónico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                placeholder="Correo electrónico" formControlName="email">
                        </div>
                        <small *ngIf="invalidEmail" class="text-danger">El correo es incorrecto</small>
                    </div>
                    <div class="form-group">
                        <label for="pwd1" [class.text-danger]="invalidPassword">Contraseña</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-lock"></i></div>
                            <input type="password" class="form-control" id="pwd1" placeholder="Contraseña"
                                formControlName="password">
                        </div>
                        <small *ngIf="invalidPassword" class="text-danger">La contraseña es incorrecta</small>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Crear</button>
                    <button type="button" class="btn btn-inverse waves-effect waves-light" (click)="cancelar()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>