<div class="row animated fadeIn fast">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gestionar horarios de atención</h4>
                <h6 class="card-subtitle"></h6>
                <form class="form p-t-20" [formGroup]="gestionForm" (ngSubmit)="crearUsuario()">

                    <div class="form-group">
                        <label for="exampleInputDate" [class.text-danger]="invalidDate">Día</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-calendar"></i></div>
                            <input type="date" class="form-control" id="exampleInputDate" placeholder="Día"
                                formControlName="date">
                        </div>
                        <small *ngIf="invalidDate" class="text-danger">Debe seleccionar un día</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDate" [class.text-danger]="invalidEspecialidad">Especialidad</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-bag"></i></div>
                            <select class="form-control" formControlName="especialidad">
                                <option [value]="item" *ngFor="let item of especialidades"> {{ item }} </option>
                                
                            </select>
                        </div>
                        <small *ngIf="invalidEspecialidad" class="text-danger">Debe seleccionar una especialidad</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Horarios</label>
                        <div>
                            <div class="label label-info m-2" *ngFor="let boton of botones"
                                (click)="horaPresionada(boton)" [ngClass]="boton.estado"> {{ boton.hora }}
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"
                        [disabled]="horasSeleccionadas.length === 0">Aceptar</button>
                    <button type="button" class="btn btn-inverse waves-effect waves-light"
                        (click)="cancelar()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>