<div class="row p-5">
    <div class="col-md-4 mx-auto" >
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img class="card-img-top" src="../../../assets/reporte.svg" alt="Card image cap" width="100" height="100">
                    </div>
                    <div class="col-8 mt-4">
                        <h1 class="text-left">INICIAR SESIÓN</h1>
                    </div>
                </div>
                <form class="mt-5" [formGroup]="forma" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email" [class.text-danger]="invalidEmail">Correo electrónico</label>
                        <input type="email" class="form-control" formControlName="email">
                        <small *ngIf="invalidEmail" class="text-danger">El formato debe ser: nombre@dominio.algo</small>
                    </div>
                    <div class="form-group">
                        <label for="password" [class.text-danger]="invalidPassword">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password">
                        <small *ngIf="invalidPassword" class="text-danger">Debe ingresar al menos 8 caraccteres</small>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit" >Iniciar Sesión</button>
                </form>

                <div class="form-group mt-3 row justify-content-around">
                    <p> ¿No tienes cuenta? <a [routerLink]="['/register']"> Registrarse</a></p>
                    <p> <a [routerLink]="['/forgot']">¿Olvidaste la contraseña? </a></p>
                 </div>
            </div>
        </div>
    </div>
</div>