<div class="row p-5">
    <div class="col-md-4 mx-auto">
        <div class="card animate__animated animate__backInLeft">
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <img class="card-img-top" src="../../../assets/reporte.svg" alt="Card image cap" width="100"
                            height="100">
                    </div>
                    <div class="col-8 mt-4">
                        <h1 class="text-left">REGISTRO</h1>
                    </div>
                </div>
                <form [formGroup]="forma" class="mt-5" (ngSubmit)="onRegister()">
                    <div class="form-group">
                        <label for="email" [class.text-danger]="invalidEmail">Correo electrónico</label>
                        <input type="email" class="form-control" formControlName="email">
                        <small *ngIf="invalidEmail" class="text-danger">El formato debe ser: nombre@dominio.algo</small>
                    </div>
                    <div class="form-group">
                        <label for="password" [class.text-danger]="invalidPassword">Contraseña</label>
                        <input type="password" class="form-control" formControlName="password">
                        <small *ngIf="invalidPassword" class="text-danger">Debe ingresar al menos 8 caraccteres</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Tipo de Usuario</label>
                        <select class="form-control" formControlName="rol" (change)='cambiarElementoSeleccionado()'>
                            <option value="PROFESIONAL"> PROFESIONAL </option>
                            <option value="PACIENTE"> PACIENTE </option>
                        </select>
                    </div>
                    <div class="row" *ngIf="mostrarImagenes">
                        <div class="col-md-6">
                            <div    appNgDropFile
                                    [archivos]="archivos"
                                    (mouseSobre)="estaSobreElemento = $event" 
                                    class="weel drop-zone" 
                                    [ngClass]="{'file-over': estaSobreElemento}"
                            >
                                <h4>Deje caer aquí las imágenes</h4>
                                <img src="assets/drop-images.png" alt="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table tabla">
                                <thead class="thead-primary">
                                    <tr>
                                        <th>Nombre del Archivo</th>
                                        <th>Tamaño</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let archivo of archivos">
                                        <td [ngClass]="{'text-green': archivo.progreso >= 100}"> {{ archivo.nombre }} </td>
                                        <td> {{ archivo.archivo.size / 1024 / 1024 | number: '.2-2' }} MB</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-outline-primary bnt-sm btn-block " 
                                    *ngIf="archivos.length !== 0"
                                    type="button"
                                    (click)="limpiar()"
                            >
                                    Limpiar
                            </button>
                        </div>
                    </div>

                    <button *ngIf="mostrarImagenes" class="btn btn-primary btn-lg btn-block mt-3" type="submit"
                        [disabled]="archivos.length !== 2">REGISTRARSE</button>
                    <button *ngIf="!mostrarImagenes" class="btn btn-primary btn-lg btn-block mt-3"
                        type="submit">REGISTRARSE</button>
                </form>

                <div class="form-group mt-3 row justify-content-around">
                    <p> ¿Tienes cuenta? <a routerLink='login'> Iniciar Sesión</a></p>
                </div>
            </div>
        </div>
    </div>
</div>