<div class="row animated fadeInRight fast" *ngIf="listado.length > 0">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Listado de Turnos</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Especialidad</th>
                                <th>Médico</th>
                                <th>Día</th>
                                <th>Hora</th>
                                <th>Estado</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listado">
                                <td> {{ item.especialidad }} </td>
                                <td> {{ item.profesional.name }} </td>
                                <td> {{ item.dia }} </td>
                                <td><span class="text-muted"><i class="fa fa-clock-o"></i> {{ item.hora }} </span> </td>
                                <td>
                                    <div class="label label-table label-success" *ngIf="item.estado === 'FINALIZADO'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-danger" *ngIf="item.estado === 'RECHAZADO'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-primary" *ngIf="item.estado === 'ACEPTADO'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-warning" *ngIf="item.estado === 'PENDIENTE'">
                                        {{ item.estado }} </div>
                                    <div class="label label-table label-danger" *ngIf="item.estado === 'CANCELADO'">
                                        {{ item.estado }} </div>
                                </td>
                                <td>
                                    <i class="fa fa-close text-danger iconos mr-5" (click)="cancelarTurno(item)"
                                        data-toggle="tooltip" data-placement="top" title="Aceptar Turno"
                                        *ngIf="item.estado == 'ACEPTADO' || item.estado == 'PENDIENTE'"> Cancelar</i>
                                    <i class="fa  text-info iconos mr-5" (click)="verResenia(item)"
                                        data-toggle="modal" data-target="#exampleModal" title="Ver reseña"
                                        *ngIf="item.estado == 'FINALIZADO' && item.resenia != null"> Ver reseña</i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn fast" *ngIf="isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-info text-center">
                    <h4 class="alert-heading">Cargando</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p></p>
                    <p class="mb-0">Por favor espere</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Encuesta de satisfacción </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5>Reseña del doctor: {{ turnoSeleccionado?.profesional.name }}</h5>
                    <p> {{ turnoSeleccionado?.resenia }} </p>
                    <hr>
                    <h4 class="mb-3">¿Qué tal estuvo la atención?</h4>
                    <form class="form-horizontal form-material" id="loginform" [formGroup]="reseniaForm"
                        (ngSubmit)="dejarComentario()">

                        <div class="form-group">
                            <textarea cols="30" rows="5" class="form-control" formControlName="text"></textarea>
                        </div>
                        <small *ngIf="invalidText" class="text-danger">Dede escribir algo</small>

                        <div class="form-group text-center m-t-20">
                            <div class="col-xs-12">
                                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                                    type="submit">comentar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>