<div class="row animated fadeIn fast">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sacar turno</h4>
                <p>Recuerde que la fecha elegida debe ser entre los próximos 15 días y no se atiende sábados ni domingos.</p>
                <h6 class="card-subtitle"></h6>
                <form class="form p-t-20" [formGroup]="turnoForm" (ngSubmit)="sacarTurno()">

                    <div class="form-group">
                        <label for="nameInput" [class.text-danger]="invalidDate">Día</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-calendar"></i></div>
                            <input type="date" class="form-control" id="nameInput" placeholder="Fecha"
                                formControlName="date">
                        </div>
                        <small *ngIf="invalidDate" class="text-danger">fecha incorrecta</small>
                    </div>
                    <div class="form-group">
                        <label for="inputTime" [class.text-danger]="invalidTime">Hora</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-time"></i></div>
                            <input type="time" class="form-control" id="inputTime" formControlName="time">
                        </div>
                        <small *ngIf="invalidTime" class="text-danger">Turnos cada media hora en el horario de 09:00 a 18:00 hs</small>
                    </div>

                    <div class="form-group">
                        <label for="inputEsp">Especialidad</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-bag"></i></div>
                            <select class="form-control" formControlName="especialidad" (change)="getProfesionales()">
                                <option value="CLINICO"> CLÍNICO </option>
                                <option value="ODONTOLOGO"> ODONTÓLOGO </option>
                                <option value="PEDIATRA"> PEDIATRA </option>
                                <option value="OFTALMOLOGO"> OFTALMÓLOGO </option>
                            </select>
                        </div>
                    </div>
             
                    <div class="form-group">
                        <label for="inputEsp" [class.text-danger]="invalidMedic">Médico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <select class="form-control" formControlName="medic">
                                <option *ngFor="let item of listadoMedicos" [value]="item.uid"> {{ item.name }} </option>
                            </select>
                        </div>
                        <small *ngIf="invalidMedic" class="text-danger">Debe seleccionar un profesional</small>
                    </div>
             
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Crear</button>
                    <button type="button" class="btn btn-inverse waves-effect waves-light" (click)="cancelar()">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>